body, html 
{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: darkslategray;
}

.calculator 
{
    background-color: grey;

    height: 50%;
    width: 25%;

    border-radius: 10%;
    padding: 5%;
    text-align: center;
    box-shadow: 0 2% 3% rgba(0, 0, 0, 0.1);
}

.display 
{
    width: 90%;
    height: 15%;
    font-size: 125%;
    border: none;
    background-color: #fff;
    border-radius: 1%;
    margin-bottom: 2%;
    text-align: right;
    padding: 1% 2%;
}

.button_row
{
    display: block;
}

.buttons button 
{
    cursor: pointer;

    font-size: 175%;
    
    background-color: #4b0120;
    color: #fff;

    padding: 4%;
    margin-top: 1%;
}

button:active 
{
    background-color: #d7b8c7;
}
